/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-color: #EEEEEE;  
    
    color: rgb(43, 43, 43);   
}


main {
    margin: 0 auto;
    width: 900px;
    position: relative;
}


article {
    text-align: justify;
}


header {
    color: rgb(255, 0, 0);
    text-align: center;

}


footer {
    text-align: center;
    padding-bottom: 10px;
}


/* specifieke stijlen */

img.zweefLinks1 {
    float: left;
    margin-right: 15px;
}

img.zweefLinks2 {
    float: left;
    margin-right: 15px;
}

.clearFloat {
    clear:both;
}

.smalltext {
    font-size: 0.7em;
}

a {
    color: rgb(255, 0, 0), 135, 135);
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}


/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: rgb(43, 43, 43);
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: rgb(32, 32, 32);
}

nav li a.active {
    background-color: rgb(255, 0, 0);
}

/* Font */
p {
    font-family: 'ABeeZee';font-size: 16px;
}

li {
    font-family: 'ABeeZee';font-size: 16px;
}

.Title {
    font-family: 'Amaranth';font-size: 22px;
}
